@font-face {
    font-family: 'SFRounded';
    src: url('fonts/SFRounded-Regular.woff2') format('woff2'),
        url('fonts/SFRounded-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFRounded-Semibold';
    src: url('fonts/SFRounded-Semibold.woff2') format('woff2'),
        url('fonts/SFRounded-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

html {
    font-family: 'SFRounded', sans-serif;
    background-color: rgb(51,51,51);
    overflow: auto;
}

body {
    min-height: 100vh;
    display: block;
    margin: 0px auto;
    background-color: rgb(255,255,255);
    overflow: auto;
}

.navbar a {
  font-family: 'SFRounded-Semibold', sans-serif;
  font-weight: 600;
  float: left;
  color: rgb(51,51,51);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 4px;
}

.navbar a:hover {
  background-color: #ddd;
  color: rgb(51,51,51);
}

.navbar a.active {
  background-color: rgb(51,51,51);
  color: white;
}

form, h1, #intro-txt, #req-txt, .navbar {
    width: 490px;
    float: left;
    margin-left: 21%;
    margin-right: 50%;
    display: flex;
	margin-top: 44px;
}

h1 {
    font-family: 'SFRounded-Semibold', sans-serif;
    font-weight: 600;
}

#intro-txt, #req-txt {
    margin-top: 0px;
}

#req-txt {
    margin-bottom: 35px;
    color: rgb(153,153,153);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li + li {
    margin-top: 1.5em;
}

label {
    display: block;
    width: 490px;
    text-align: left;
    margin-bottom: 0.5em;
    font-family: 'SFRounded', sans-serif;
    font-size: 15px;
}

input, textarea {
    width: 490px;
    max-width: 490px;
    box-sizing: border-box;
    border: 1px solid #999;
    border-radius: 4px;
    border-color: rgb(214, 214, 214);
    font-family: 'SFRounded', sans-serif;
    font-size: 15px;
}

textarea {
    height: 120px;
    padding: 7px 15px 10px 15px;
    min-height: 120px;
}

input {
    height: 32px;
    min-height: 32px;
    padding: 3px 15px 0px 15px;
}

select {
    display: block;
    box-sizing: border-box;
    width: 490px;
    height: 34px;
    border-radius: 4px;
    background: #fff;
    border-color: rgb(214, 214, 214);
    padding: 2px 16px 0px 16px;
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat right 2px center;
    -moz-appearance: none; 
    -webkit-appearance: none; 
    appearance: none;
    font-family: 'SFRounded', sans-serif;
    font-size: 15px;
}

hr {
    border-top: 1px;
    border-top-color: rgb(221,221,221);
    width: 490px;
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    margin-top: 3em;
}

button {
    background-image: linear-gradient(rgb(81, 169, 238), rgb(20, 123, 205));
    border-color: rgb(20,130,208);
    font-family: 'SFRounded', sans-serif;
    color: rgb(255,255,255);
    font-size: 16px;
    font-weight: 500;
    box-sizing: content-box;
    border-radius: 4px;
    border-style: solid;
    float: right;
    width: 113px;
    outline: none;
    height: 32px;
    padding: 0 15px 0 15px;
    border-width: 1px;
}

#submit-txt {
    font-family: 'SFRounded', sans-serif;
    color: rgb(153,153,153);
    font-size: 15px;
}

footer {
    display: inline-block;
    width: 120%;
    /* height: 200px; */
    font-family: 'SFRounded', sans-serif;
    color: rgb(66,66,69);
    font-size: 16px;
    background-color: rgb(245,245,247);
    margin-top: 100px; 
    clear: both;
    float: left;
    padding-left: 21%;
    padding-right: 50%;
    display: border-box;

}
