---
---
$header-bg-color: #121928;
$header-bg-color-secondary: #155799;

@import "{{ site.theme }}";

.page-header img {
    float: left;
    width: 100px;
    height: 35px;
    margin-right: 20px;
  }